#ignore all cf e vcd file
*.cf
*.vcd
.vscode
work-obj93.cf
*.lyx#
*.lyx~ 
annotated.tex
latex/
doxygen.sty
files.tex
*refman.aux
*refman.idx
*refman.ilg
*refman.ind
*refman.log
*refman.out
*refman.tex
*refman.tox
*.stx
*.xst
*.lso
*.syr
*_xst.xrpt
*.prj
webtalk_pn.xml
*.ngc
*.ngr
xst
*.cmd_log
*.ngd
*.bld
*_ngdbuild.xrpt
_ngo
xlnx_auto_0_xdb
*_map.map
*_map.mrp
*_map.xrpt
*_map.ncd
*.pcf
*_map.ngm
*_usage.xml
*_summary.xml
*.ncd
*.pad
*.par
*.unroutes
*.xpi
*_par.xrpt
*_pad.txt
*_pad.csv
*.ptwx
*.twr
*.twx